<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxy8jN2WhWU_RPZ_bQ81Ukw0_XUUPXSuI</string>
	<key>GCM_SENDER_ID</key>
	<string>144423693203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chillChatV2</string>
	<key>PROJECT_ID</key>
	<string>chillchatv2</string>
	<key>STORAGE_BUCKET</key>
	<string>chillchatv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144423693203:ios:081c1409883f6e7c1c5666</string>
	<key>DATABASE_URL</key>
	<string>https://chillchatv2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>